:root {
  --orange-color: #da722c;
  --dark-blue-color: #023047;
  --dark-color: #070917;
  --light-color: #e8f7fb;
  --light-blue-color: #6f7dfb;
}

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.sidebar {
  width: 280px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  padding: 1rem;
  background: var(--dark-blue-color);
}

.sidebar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar-brand {
  height: 100px;
}
.contents {
  margin-left: 300px;
}
.contents h3 {
  margin-top: 20px;
  margin-left: 40%;
  display: flex;
  margin-bottom: 40px;
}

table,
th,
td {
  border: 1px solid;
  font-family: "Poppins", sans-serif;
}

.right {
  display: flex;
}

form {
  margin-top: 40px;
}

.contact-form {
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
  width: 500px;
  background-color: var(--light);
  box-shadow: 0 0 20px 0 rgb(242, 184, 184);

  display: flex;
}

form {
  margin: 35px;
  font-family: "Poppins", sans-serif;
}
.input-field {
  font-family: "Poppins", sans-serif;
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
}

.textarea-field {
  font-family: "Poppins", sans-serif;
  height: 150px;
  padding-top: 10px;
}

.btn-contact {
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  color: #fff;
  margin-top: 18px;
  padding: 10px;
  background-color: #da722c;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
h2 {
  margin-top: 10px;
  margin-left: 40%;
}
.wrapper {
  margin-left: 280px;
}
.first {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
table tr th{
  font-family: "Poppins", sans-serif;
}
table {
  
  color: #da722c;
  width: 58%;
  border: 1px solid #777;
}
